# System files
.DS_Store
Thumbs.db

.vscode/

# Ignorar archivos de logs
*.log

# Ignorar dependencias de Python
__pycache__/
# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Ignorar archivos de configuración de Visual Studio Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
src/.ipynb_checkpoints/

# Jupyter runtime files
*.nbconvert.ipynb
*.nbstripout

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
